<!--<div class="menu d-flex yellow-line footer justify-content-between">-->

<!--</div>-->

<!--<footer class="footer fixed-bottom">-->
<footer class="footer">
  <div class="d-flex flex-row text-center align-items-center justify-content-between w-100">

    <div class="navigate d-flex">
      <a class="d-flex align-items-center" href="">
        <img class="logo" src="assets/logo.png" alt="">
      </a>
    </div>

<!--    <div *ngIf="email" class="ms-1 badge badge-secondary text-info d-flex align-items-center">-->
<!--      {{email}}-->
<!--    </div>-->


<!--    <div *ngIf="version" class="ms-1 badge badge-secondary text-light d-flex align-items-center">-->
<!--      <div class="v-line"></div>-->
<!--      <div class="ms-2 me-2">ver {{version}}</div>-->
<!--    </div>-->

  </div>

</footer>
