<div class="menu d-flex  justify-content-between">

  <div class="navigate d-flex">
    <!--  <div routerLinkActive="active" class="ms-1 btn btn-sm btn-outline-primary">-->
    <a class="ms-1 btn btn-sm link-btn btn-outline-secondary menu-item" routerLink="">
      Home
    </a>

    <a class="ms-1 btn btn-sm link-btn btn-outline-secondary menu-item" routerLink="auth">
      Authentication
    </a>

    <a class="ms-1 btn btn-sm link-btn btn-outline-secondary menu-item" routerLink="users">
      Users
    </a>

    <a class="ms-1 btn btn-sm link-btn btn-outline-secondary menu-item" routerLink="schools">
      Schools
    </a>

    <a class="ms-1 btn btn-sm link-btn btn-outline-secondary menu-item" routerLink="courses">
      Courses
    </a>
  </div>


  <div class="navigate d-flex">
    <a class="btn btn-sm link-btn btn-outline-success d-flex align-items-center ms-4 " href="api/v1" target="_blank">
      <img class="ico"
           src="assets/swagger.png"
           alt="">
      Swagger
    </a>

    <a class="btn btn-sm link-btn btn-outline-success d-flex align-items-center ms-1" href="api/v1/admin"
       target="_blank">
      <img class="ico"
           src="assets/django.png"
           alt="">
      Admin
    </a>


<!--      <div *ngIf="version" class="ms-1 badge badge-secondary text-black d-flex align-items-center">-->
<!--        ver {{version}}-->
<!--      </div>-->
<!--    <div class="d-flex">-->
<!--    </div>-->
  </div>

</div>

<div class="yellow-line d-flex"></div>
