<!--<div class="menu d-flex  justify-content-between border-bottom border-dark">-->
<div class="_menu" xmlns="http://www.w3.org/1999/html">

  <!-- LOGO -->
  <div class="navigate d-flex">
    <a class="d-flex align-items-center" href="">
      <img class="_logo" src="assets/logo.png" alt="">
    </a>
  </div>

  <!-- NAV BUTTONS -->
  <div class="navigate d-flex">
    <!--  <div routerLinkActive="active" class="ms-1 btn btn-sm btn-outline-primary">-->
    <a class="_menu-item" routerLink="">
      Про нас
    </a>
    <a class="_menu-item" routerLink="">
      Онлайн тест
    </a>
    <a class="_menu-item" routerLink="">
      Каталог шкіл
    </a>
    <a class="_menu-item" routerLink="">
      Новини
    </a>
    <a class="_menu-item" routerLink="">
      Бібліотека
    </a>

  </div>

  <div *ngIf="!isAuthorized" class="_user">
    <a href="auth">
      <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </a>
  </div>

  <div *ngIf="isAuthorized" class="_user">
    <a (click)="logout()" class="_button">
      <fa-icon [icon]="faSignOut" size="lg"></fa-icon>
    </a>
  </div>

</div>
