._news {
  //height: 400px;
  width: 80%;
  margin-top: 100px;
  padding: 5px;
}

._carousel {
  height: 480px;
}

.news_item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.news_image {
  height: 480px;
  width: 300px;
  object-fit: cover;
  border-radius: 70px;
}

.news_title {
  width: 40%;
}
