._wrapper {
  min-height: 81vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

._news {
  //height: 400px;
  width: 80%;
  margin-top: 120px;
  padding: 5px;
  border: 1px solid black;
}

._carousel {
  height: 480px;
}

._news_item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  //gap: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

._news_image {
  height: 480px;
  width: 350px;
  object-fit: cover;
  border-radius: 70px;
}

._news_title {
  width: 40%;
}

._news_more_info {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}
