<div class="_wrapper" xmlns="http://www.w3.org/1999/html">

  <!-- NEWS (slider 5 items) -->
  <div class="_news">

    <div class="_carousel">
      <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
        <slide *ngFor="let slide of slides; let index=index">

          <div class="_news_item">

            <div>
              <img [src]="slide.image" class="_news_image" alt="news image">
            </div>

            <div class="_news_title">
<!--              <h4>News {{index}}</h4>-->
              <p>{{slide.text}}</p>
              <div class="_news_more_info">
                <a href="news/1">Більше інформації</a>
              </div>
            </div>

          </div>

          <!--          <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">-->
          <!--          <img [src]="slide.image" class="news_image" alt="news image">-->
          <!--          <img src="https://cegc.my.canva.site/main-mapit-website/images/a9c2b505fc162783c2e12dba777ecc99.jpg"-->
          <!--               class="news_image" alt="news image">-->

          <!--          <image id="YnMhwQVqmt4NFej3" href="images/a9c2b505fc162783c2e12dba777ecc99.jpg" width="750.46904315px"-->
          <!--                 height="500px" preserveAspectRatio="none"-->
          <!--                 style="transform:translate(-31.45104757px, 0px) rotate(0deg);transform-origin:375.23452158px 250px;opacity:1.0;">-->
          <!--          </image>-->
          <!--          <div class="carousel-caption">-->

          <!--            <h4>Slide {{index}}</h4>-->
          <!--            <p>{{slide.text}}</p>-->
          <!--          </div>-->
        </slide>
      </carousel>
    </div>

<!--    <br/>-->
<!--    <div>-->
<!--      <div class="checkbox">-->
<!--        <label><input type="checkbox" [(ngModel)]="noWrapSlides">Disable Slide Looping</label>-->
<!--        <label><input type="checkbox" [(ngModel)]="showIndicator">Enable Indicator</label>-->
<!--      </div>-->
<!--    </div>-->
  </div>

  <!-- SCHOOLS (5 items: logo + name) -->
  <!-- ABOUT -->
  <!-- TESTS -->
  <!-- NEWS -->
  <!-- ARTICLES -->


</div>
