<div class="_wrapper" xmlns="http://www.w3.org/1999/html">

  <!-- NEWS (slider 5 items) -->
  <div class="_news">

    <div class="_carousel">
      <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
        <slide *ngFor="let slide of slides; let index=index">

          <div class="_news_item">

            <div>
              <img [src]="slide.image" class="_news_image" alt="news image">
            </div>

            <div class="_news_title">
              <h4>News {{index}}</h4>
              <p>{{slide.text}}</p>
              <div class="text-end">
                <a href="news/1">Більше інформації</a>
              </div>
            </div>

          </div>

        </slide>
      </carousel>
    </div>

  </div>

  <!-- SCHOOLS (5 items: logo + name) -->
  <div class="_schools">

    <div class="_title_font">НАВЧАННЯ</div>
    <div class="_title_font _title_big">ІТ школи для дітей та підлітків</div>

    <div class="_schools_items">

      <div class="_schools_item" *ngFor="let school of schools; let index=index">
        <img class="_schools_image" src="assets/school-{{index + 1}}.png" alt="school">
        <div class="_schools_title">{{school.name}}</div>
      </div>

    </div>

    <div class="text-end _title_font">
      <a href="schools">Каталог шкіл</a>
    </div>
  </div>

  <!-- ABOUT -->
  <!-- TESTS -->
  <!-- NEWS -->
  <!-- ARTICLES -->


</div>
